*
    box-sizing border-box
    -moz-box-sizing border-box
    font-family Roboto, sans-serif

body
    margin 0

html, body
    height 100%
    width 100%

#app
    min-height 100%
    max-width 100%
    padding 64px 0 0
    position relative
    background #e8e8e8

header
    position fixed
    top 0
    left 0
    width 100%
    z-index 50;
    height 64px
    background #ef5a31
    color #fff
    padding 0 20px
    line-height 64px

    .logo
        padding-top 6px
        display block
        width 50px

        img
            width 100%

.main-content
    padding 20px

.logoColumn
    padding-right 20px
    font-size 25px
    color #fff
    opacity .5
    align-self center

a
    color #00bcd4
    text-decoration none
    transition opacity ease-out .5s
    &:hover
        opacity .5




.logo
    cursor pointer
